<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karaokepang">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        <activity
            android:name=".Activity.LauncherMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DeviceList" />
        <activity android:name="com.midisheetmusic.MidiSheetMusicActivity" />
        <activity android:name="com.midisheetmusic.FileBrowserActivity" />
        <activity android:name="com.midisheetmusic.ChooseSongActivity" />
        <activity android:name="com.midisheetmusic.HelpActivity" />
        <activity android:name="com.midisheetmusic.SettingsActivity" />
        <activity android:name="com.midisheetmusic.AllSongsActivity" />
        <activity android:name="com.midisheetmusic.RecentSongsActivity" />
        <activity
            android:name=".Activity.MusicPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.midisheetmusic.SheetMusicActivity"
            android:screenOrientation="landscape" />

    </application>

</manifest>
